/* 主页哔哔bb */
#bber-talk {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: flex;
    flex-direction: column
}

#bbtalk {
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#bber-talk .li-style {
    width: auto;
    max-width: 100%;
    height: 25px;
    text-align: center;
    text-overflow: ellipsis;
    transition: .3s;
    font-weight: 700;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    white-space: nowrap
}

#bbTimeList .li-style:hover {
    color: var(--yue-theme);
    transition: .3s
}

li,
ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0
}

.bbtalk-title {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    height: 25px;
    font-weight: 700;
    font-size: 30px;
    font-family: '优设标题黑', sans-serif;
    white-space: nowrap;
    user-select: none;
    /* 禁止选择文本 */
}

#bbTimeList {
    background: var(--yue-card-bg);
    color: var(--yue-fontcolor);
    padding: .5rem 1rem;
    border-radius: 12px;
    box-shadow: var(--yue-shadow-lightblack);
    display: flex;
    transition: .3s;
    margin-bottom: 1rem;
    border: var(--style-border);
    align-items: center;
    height: 50px;
}

#bbTimeList.more-page {
    margin-bottom: 0
}

@media screen and (min-width: 768px) {
    #bbTimeList:hover {
        border: var(--style-border-hover);
        box-shadow: var(--yue-shadow-main);
        background: var(--yue-card-bg)
    }
}

@media screen and (min-width: 1300px) {
    #bbTimeList {
        margin-bottom: 1rem;
        animation: slide-in .6s 0s backwards
    }
}

.bber-gotobb {
    line-height: 25px;
    margin-left: 1rem;
    transition: .3s;
    cursor: pointer
}

.bber-logo {
    font-size: 1.5rem;
    line-height: 22px;
    margin-right: 1rem;
    transition: .3s;
    cursor: pointer
}

.bber-logo:hover {
    opacity: .8;
    color: var(--yue-theme)
}

.bbtalk-title:hover {
    opacity: .8;
    color: var(--yue-theme)
}

.bber-gotobb:hover {
    opacity: .8;
    color: var(--yue-theme)
}

.bber-gotobb {
    font-size: 16px
}

/* heo 的样式 */

li,
ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#bber {
    margin-top: 1rem;
    width: 100%;
}

#waterfall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* 水平方向分布 */
    align-content: flex-start;
    /* 垂直方向对齐 */
}

#bber .timeline #waterfall {
    opacity: 0;
    transition: .3s
}

#bber .timeline #waterfall.show {
    opacity: 1
}

#bber .timeline ul li.item {
    position: relative;
    width: 31%;
    height: auto;
    /* 自适应高度 */
    border: var(--style-border-always);
    border-radius: 12px;
    padding: 1rem;
    padding-bottom: .5rem;
    transition: .3s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--yue-card-bg);
    box-shadow: var(--yue-shadow-border);
    margin-right: 2%;
    margin-bottom: 10px;
    /* 底部间距 */
}

#bber .timeline ul li.item hr {
    display: flex;
    position: relative;
    margin: 8px 0;
    border: 1px dashed var(--yue-theme-op);
    width: 100%
}

@media screen and (max-width: 768px) {
    #bber .timeline ul li.item {
        padding: 0
    }
}

#bber .timeline ul li.item:hover {
    border: var(--style-border-hover)
}

#bber ul.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

#bber li.item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start
}

@media screen and (max-width: 1300px) {
    #bber .timeline ul li.item {
        width: 49%;
        margin-right: 1%
    }
}

@media screen and (max-width: 768px) {
    #bber .timeline ul li.item {
        width: 100%;
        margin-right: 0
    }

    #bber .timeline ul li.item {
        padding: 16px 20px
    }
}

.timeline ul .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.bb-info {
    display: inline;
    float: right;
    line-height: 1;
    color: var(--yue-secondtext);
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: .5rem
}

.bb-info:hover {
    color: var(--yue-hovertext)
}

#bber {
    margin-top: 1rem;
    width: 100%;
}

#bber div.bber-content {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 100%;
    height: 100%
}

#bber>section>ul>li.item {
    margin-bottom: 1rem
}

#bber .bber-info {
    display: flex;
    align-items: center
}

#bber .bber-info .fa-rectangles-mixed {
    margin-right: 8px
}

#bber .bber-content-link {
    display: flex;
    margin-left: .5rem;
    color: var(--yue-secondtext);
    font-size: .7rem;
    align-items: center;
    background-color: rgba(245, 108, 108, .13);
    color: #f56c6c;
    padding: 0 8px;
    border-radius: 20px
}

#bber .bber-content-link:hover {
    background-color: var(--yue-lighttext);
    color: var(--yue-card-bg)
}

#bber .bber-content-link i {
    margin-right: 3px;
    font-size: 16px
}

#bber .bber-reply {
    cursor: pointer;
    margin: 0 4px
}

#bber .bber-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#bber .count {
    color: var(--yue-secondtext);
    font-size: .8rem
}

#bber p {
    margin: 0
}

#bber .datafrom i {
    margin-right: 4px
}

#bber .bber-music {
    width: 100%;
    height: 90px;
    margin: .5rem 0;
    border-radius: 8px;
    overflow: hidden;
    border: var(--style-border-always);
    background: var(--yue-secondbg)
}

#bber .aplayer {
    margin: 0
}

#bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
    font-size: .8rem;
    font-weight: 700;
    margin: 0;
    color: var(--yue-black)
}

#bber .aplayer.aplayer-withlrc .aplayer-pic {
    height: 82px;
    width: 82px;
    margin: 4px;
    border-radius: 4px
}

#bber .aplayer .aplayer-info .aplayer-music {
    height: 23px
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    padding: 0
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    background: var(--yue-gray);
    height: 8px;
    border-radius: 12px;
    transition: .3s;
    overflow: hidden
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap:hover .aplayer-bar {
    height: 12px
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 100%;
    border-radius: 12px
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    height: 100%;
    border-radius: 12px
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    display: none
}

#bber .aplayer .aplayer-info .aplayer-controller {
    align-items: center
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial
}

#bber .bber-music .aplayer-lrc {
    display: none
}

#bber-tips {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 1rem
}

#bber .bber-content-img img {
    object-fit: cover;
    max-height: 100%;
    border-radius: 12px;
    min-height: 100px;
    height: 100px
}

#bber .bber-content-img {
    height: 100px;
    margin: auto;
    margin-top: .2rem;
    margin-bottom: .3rem;
    margin-left: 0;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative
}

#bber>section>ul>li>div .bber-info-time {
    color: var(--yue-fontcolor);
    font-size: .7rem;
    background-color: var(--yue-gray-op);
    padding: 0 8px;
    border-radius: 20px;
    cursor: default;
    display: flex;
    align-items: center
}

#bber>section>ul>li>div .bber-info-time i {
    margin-right: 8px;
    font-size: 16px
}

#bber .bber-content .datacont {
    order: 0;
    font-size: .8rem;
    font-weight: 700;
    color: var(--yue-fontcolor);
    width: 100%;
    line-height: 1.38;
    border-radius: 12px;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    text-align: left
}

#bber>section>ul>li>div .datafrom {
    order: 2;
    color: var(--yue-secondtext);
    font-size: .7rem;
    margin-left: 8px
}

#bber>section>ul>li>div .datafrom small {
    font-size: .7rem
}