/*
 * @Description: 考虑到博客页面有白天模式和暗黑模式的不同颜色需求，这里做了单独的颜色定义，外部自定义样式选择性从这里引用配色
 * @LastEditors: 他们叫我跃总 Dec27-Lee
 * @Date: 2023-10-03 16:15:21
 * @LastEditTime: 2023-10-04 15:26:47
 * @FilePath: \Dec27-Lee.github.iof:\Develop_F\Blog\source\config\css\color_correction.css
 */
:root {
    --yue-white: #fff;
    --yue-white-op: rgba(255, 255, 255, 0.2);
    --yue-black: #000;
    --yue-black-op: rgba(0, 0, 0, 0.2);
    --yue-none: #00000000;
    --yue-gray: #999999;
    --yue-gray-op: #9999992b;
    --yue-vip: #e5a80d;
    --yue-main: var(--yue-theme);
    --yue-main-op: var(--yue-theme-op);
    --yue-main-op-deep: var(--yue-theme-op-deep);
    --yue-main-none: var(--yue-theme-none);
    --yue-shadow-theme: 0 8px 12px -3px var(--yue-theme-op);
    --yue-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.27);
    --yue-shadow-main: 0 8px 12px -3px var(--yue-main-op);
    --yue-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
    --yue-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
    --yue-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
    --yue-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
    --yue-shadow-red: 0 8px 12px -3px #ee7d7936;
    --yue-shadow-green: 0 8px 12px -3px #87ee7936;
    --yue-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --yue-snackbar-time: 2s;
}

[data-theme=light] {
    --yue-theme: #425AEF;
    --yue-theme-op: #4259ef23;
    --yue-theme-op-deep: #4259efdd;
    --yue-theme-none: #4259ef01;
    --yue-blue: #425AEF;
    --yue-red: #f04a63;
    --yue-pink: #FF7C7C;
    --yue-green: #57bd6a;
    --yue-yellow: #c28b00;
    --yue-yellow-op: #d99c001a;
    --yue-orange: #e38100;
    --yue-purple: #7a60d2;
    --yue-fontcolor: #363636;
    --yue-background: #f7f9fe;
    --yue-reverse: #000;
    --yue-maskbg: rgba(255, 255, 255, 0.6);
    --yue-maskbgdeep: rgba(255, 255, 255, 0.85);
    --yue-hovertext: var(--yue-main);
    --yue-ahoverbg: #F7F7FA;
    --yue-lighttext: var(--yue-main);
    --yue-secondtext: rgba(60, 60, 67, 0.8);
    --yue-scrollbar: rgba(60, 60, 67, 0.4);
    --yue-card-btn-bg: #edf0f7;
    --yue-post-blockquote-bg: #fafcff;
    --yue-post-tabs-bg: #f2f5f8;
    --yue-secondbg: #f1f3f8;
    --yue-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --yue-card-bg: #fff;
    --yue-card-bg-op: var(--yue-black-op);
    --yue-card-bg-none: rgba(255, 255, 255, 0);
    --yue-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --yue-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --yue-card-border: #e3e8f7;
    --yue-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border: 1px solid var(--yue-card-border);
    --style-border-always: 1px solid var(--yue-card-border);
    --style-border-hover: 1px solid var(--yue-main);
    --style-border-hover-always: 1px solid var(--yue-main);
    --style-border-dashed: 1px dashed var(--yue-theme-op);
    --style-border-forever: 2px solid var(--yue-main);
}

[data-theme=dark] {
    --yue-theme: #f2b94b;
    --yue-theme-op: #f2b94b23;
    --yue-theme-op-deep: #f2b94bdd;
    --yue-theme-none: #f2b94b00;
    --yue-blue: #0084FF;
    --yue-red: #FF3842;
    --yue-pink: #d44040;
    --yue-green: #3e9f50;
    --yue-purple: #7a60d2;
    --yue-yellow: #ffc93e;
    --yue-yellow-op: #ffc93e30;
    --yue-orange: #ff953e;
    --yue-fontcolor: #F7F7FA;
    --yue-background: #18171d;
    --yue-reverse: #fff;
    --yue-maskbg: rgba(0, 0, 0, 0.6);
    --yue-maskbgdeep: rgba(0, 0, 0, 0.85);
    --yue-hovertext: #0A84FF;
    --yue-ahoverbg: #fff;
    --yue-lighttext: var(--yue-theme);
    --yue-secondtext: #a1a2b8;
    --yue-scrollbar: rgba(200, 200, 223, 0.4);
    --yue-card-btn-bg: #30343f;
    --yue-post-blockquote-bg: #000;
    --yue-post-tabs-bg: #121212;
    --yue-secondbg: #30343f;
    --yue-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --yue-card-bg: #1d1e22;
    --yue-card-bg-op: var(--yue-white-op);
    --yue-card-bg-none: #1d1b2600;
    --yue-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --yue-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --yue-card-border: #3d3d3f;
    --yue-shadow-border: 0 8px 16px -4px #00000050;
    --style-border: 1px solid var(--yue-card-border);
    --style-border-always: 1px solid var(--yue-card-border);
    --style-border-hover: 1px solid var(--yue-theme);
    --style-border-hover-always: 1px solid var(--yue-theme);
    --style-border-dashed: 1px dashed var(--yue-theme-op);
    --style-border-forever: 2px solid var(--yue-lighttext);
}